{% extends 'dashboard/base.html' %}

{% block title %}
    Generation Tools 2
{% endblock title %}

{% block welcome %}
    <div class="container mt-4">
        <h1>Welcome to Generation Tools Page</h1>
        <p>These tools are designed to make creating various documents easier using GPT functionality. It includes features to generate markdown user input text, enhance text via GPT, and then save in various formats.</p>
    </div>
{% endblock welcome %}